:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

main {
  margin-top: 70px;
  margin-bottom: 70px;
}

.carousel-container {
  position: relative;
}

.carousel-image {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.sidebar-primary{
float: right;
width: 300px;
margin-top: 7px;
}

.conversion-header {
  width: 100%;
  object-fit:cover;
}

.intro_content {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: #333333;
    letter-spacing: 2px;
    line-height: 1.3;
    margin: 7px 0 17px;
    padding: 0;
}
