:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

.search-filter {
  margin-top: 100px;
  margin-bottom: 50px;
}

.copywrite{
  padding-bottom: 30px;
  padding-top: 30px;
  background-color:#8ec099;
  background-size: cover;
}


/* HOME */
.carousel-container {
  position: relative;
}

.carousel-image {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.home-section-banner {
  background-color: #E8F1EA;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 65px 0px 65px 0px;
  margin-top: 50px;
  margin-bottom: 800px;
  transition: 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.home-background-banner{
  background-color: #E8F1EA;
  
}

.left-p-on-home{
  box-sizing: border-box;
  text-align: left;
  width: 800px; 
  margin-top: 40px;
  margin: 10px 0; 
  font-size: 19px;
  line-height: 29px;
  letter-spacing: 0px;
  padding-left: 400px;

}

.right-p-on-home{
  box-sizing: border-box;
  text-align: right;
  margin-top: 40px;
  margin: 10px 0; 
  font-size: 19px;
  line-height: 29px;
  letter-spacing: 0px;
  padding-right: 400px;
}

.title-on-home{
  text-align: center;
  padding-left: 20%;
  padding-right: 10%;
  padding-bottom: 10px;
  padding-top: 20px;
}

.spacing{
  background: var(--color-brand-tertiary);
}

.home-images{
  width: 300px;
  height: 200px;
  box-sizing: border-box;
  vertical-align: middle;
  display: inline-block;
  height: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.conversion-header {
  width: 100%;
  object-fit: cover;
}

.intro_content {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: #333333;
  letter-spacing: 2px;
  line-height: 1.3;
  margin: 7px 0 17px;
  padding: 0;
}

.create-recipe {
  padding-top: 10%;
  place-items: center;
  text-align: center;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10%;
}


.recipe-template-container {
  padding-top: 10%;
  place-items: center;
  text-align: center;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.instructions {
  height: 200px;
  width: 770px;
}

.public_private_toggle {
  width: 280px;
  margin: 20px auto;
  margin-left: 220px auto;
}

.recipe-form-button {
  width: 360px;
  margin: auto;
}

.recipe-form-delete-button {
  width: 360px;
  margin: auto;
}

.profile-title {
  padding-top: 4%;
  place-items: center;
  text-align: center;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.profile-sub-title {
  padding-top: 1%;
  place-items: center;
  text-align: center;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.dropdown-containter {
  padding-top: 1%;
  place-items: center;
  text-align: center;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.recipe-header {
  --grid-gap: 1rem;
  --grid-margin: 1.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0px;
  margin: 0px auto;
  width: 100%;
  max-width: none;
}

.intro_content{
  place-items: center;
  text-align: left;
  width: 800px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.into_title{
  place-items: center;
  text-align: center;
  width: 800px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.bold{
  font-weight: bold;
}

.disclaimer {
  margin-top: 60px;
  margin-bottom: 40px;
}

/* recipe card */
.card-image {
  height: 50%;
  width:50%
}

/* login */
.login-header{
  padding-top: 8%;
  place-items: center;
  text-align: center;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.login-header2{
  padding-top: 5%;
  place-items: center;
  text-align: center;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.signup-redirect-from-loginpage{
  place-items: center;
  text-align: center;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20%;
}


.grocery-header{
  padding-top: 15%;
  place-items: center;
  text-align: center;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.grocery-list{
  place-items: center;
  padding-bottom: 38%;
  text-align: left;
  margin-left: 45%;
}

/* sign up */
.signup-header {
  padding-top: 10%;
  place-items: center;
  text-align: center;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.signup-title{
  padding-top: 1%;
  place-items: center;
  text-align: center;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3%;
}

.login-redirect-from-signup{
  place-items: center;
  text-align: center;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 7%;
}